In [1]:
import pandas as pd

<h2>Quiz 1 : Membuat Objek DataFrames</h2>

- Buatlah objek dataframes dari objek dictionary, Bebas!

In [4]:
# Membuat dataframes dari dictionary
data = {'col_1': ['A','B','C','D'], 'col_2': ['a','b','c','d']}
df = pd.DataFrame.from_dict(data)

print(df)

  col_1 col_2
0     A     a
1     B     b
2     C     c
3     D     d

<h2>Quiz 2 : Membaca data dari file</h2>

Download file bernama diamonds.csv, kemudian baca data tersebut dan assign ke dalam suatu variabel kemudian print.

In [28]:
# Membaca data dan memasukannya kedalam suatu variabel
diamonds = pd.read_csv('diamonds-1.csv')

print(diamonds)

       Unnamed: 0  carat        cut color clarity  depth  table  price     x  \
0               1   0.23      Ideal     E     SI2   61.5   55.0    326  3.95
1               2   0.21    Premium     E     SI1   59.8   61.0    326  3.89
2               3   0.23       Good     E     VS1   56.9   65.0    327  4.05
3               4   0.29    Premium     I     VS2   62.4   58.0    334  4.20
4               5   0.31       Good     J     SI2   63.3   58.0    335  4.34
...           ...    ...        ...   ...     ...    ...    ...    ...   ...
53935       53936   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75
53936       53937   0.72       Good     D     SI1   63.1   55.0   2757  5.69
53937       53938   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66
53938       53939   0.86    Premium     H     SI2   61.0   58.0   2757  6.15
53939       53940   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83

          y     z
0      3.98  2.43
1      3.84  2.31
2      4.07  2.31
3      4.23  2.63
4      4.35  2.75
...     ...   ...
53935  5.76  3.50
53936  5.75  3.61
53937  5.68  3.56
53938  6.12  3.74
53939  5.87  3.64

[53940 rows x 11 columns]

Expected Result :

![image.png](attachment:image.png)

<h2>Quiz 3 : DataFrame vs Series</h2>

- Apa perbedaan Series dengan list dan dictionary
- Apa perbedaan dataframe dan series
- Buatlah suatu data series

- series dapat dikatakan sebagai hybrid dari list dan dictionary. tidak seperti list, index pada series tidak harus berupa integer. tidak seperti dictionary, series dapat memiliki key yang duplikat, kita juga dapat melakukan slicing data pada series.

- series merupakan objek 1 dimensi sedangkan dataframe merupaakan objek 2 dimensi

In [7]:
# code here
numList = [1,2,3,4,5]
numSr = pd.Series(numList)

print(numSr)

0    1
1    2
2    3
3    4
4    5
dtype: int64

<h2>Quiz 4 : Pemeriksaan Data Sederhana</h2>

Di quiz no 2 kamu telah membaca data tentang diamonds. pada soal ini cobalah suatu metode dari pandas untuk mengetahui beberapa data pertama dan beberapa data terakhir. kemudian sebutkan nilai dari :
- baris pertama dari column price
- baris terakhir dari column color

tunjukan cara kalian menemukan nilai tersebut di block di bawah ini.

In [29]:
# code here
firstPrice = diamonds.iloc[0, diamonds.columns.get_loc('price')]
lastColor = diamonds.iloc[-1, diamonds.columns.get_loc('color')]

print(firstPrice)
print(lastColor)

326
D

<h2>Quiz 5 : Deskriptif Statistik</h2>

Jelaskan apa itu deskriptis statistik!

deskriptis statistik merupakan salah satu metode statistika yang berhubungan dengan pengumpulan atau penyajian data sampai memberi informasi yang berguna. Informasi yang di dapatkan yang berasal dari metode ini antara lain ukuran pemusatan data, ukuran penyebaran data, dan juga kecenderungan suatu gugus data. Penyajian datanya dapat berupa grafis maupun numerik.

<h2>Quiz 6 : Practice Deskriptif Statistik</h2>

- Gunakan suatu metode dari pandas untuk mengetahui deskriptif statistik dari suatu data
- Berapa nilai rata-rata dari column price
- Berapa nilai standar deviasi dari column depth
- Berapa nilai maximum dari column carat

In [31]:
# code here
priceMean = diamonds['price'].mean()
depthSD = diamonds['depth'].std()
caratMax = diamonds['carat'].max()

print(priceMean)
print(depthSD)
print(caratMax)

# for comparison
print(diamonds.describe())

3932.799721913237
1.432621318833661
5.01
         Unnamed: 0         carat         depth         table         price  \
count  53940.000000  53940.000000  53940.000000  53940.000000  53940.000000
mean   26970.500000      0.797940     61.749405     57.457184   3932.799722
std    15571.281097      0.474011      1.432621      2.234491   3989.439738
min        1.000000      0.200000     43.000000     43.000000    326.000000
25%    13485.750000      0.400000     61.000000     56.000000    950.000000
50%    26970.500000      0.700000     61.800000     57.000000   2401.000000
75%    40455.250000      1.040000     62.500000     59.000000   5324.250000
max    53940.000000      5.010000     79.000000     95.000000  18823.000000

                  x             y             z
count  53940.000000  53940.000000  53940.000000
mean       5.731157      5.734526      3.538734
std        1.121761      1.142135      0.705699
min        0.000000      0.000000      0.000000
25%        4.710000      4.720000      2.910000
50%        5.700000      5.710000      3.530000
75%        6.540000      6.540000      4.040000
max       10.740000     58.900000     31.800000

# New Section